[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
sklearn = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
